.layout{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.container{
	display: flex;
	flex-direction: column;
	max-width: 90%;
}
.layout__sidebar_right{
	position: relative;
	height: 100%;
	padding-top: 35px;
}