.cookie{
	width: 100%;
	max-width: 40vw;
	position: fixed;
	z-index: 3;
	bottom: 5%;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #ffffff;
	padding: 20px 30px;
	border-radius: 7px;
	border: 1px solid rgba(0,0,0,0.05);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px 0;
	transition: 0.2s ease-in-out border;
	overflow: hidden;
}
.cookie:hover{
	border: 1px solid rgba(0,0,0,0.08);
}
@media screen and (max-width: 992px) {
	.cookie{
		max-width: 40vw;
		flex-direction: column;
		gap: 15px 0;
	}
}
@media screen and (max-width: 768px) {
	.cookie{
		max-width: 60vw;
		flex-direction: column;
		gap: 15px 0;
	}
}
@media screen and (max-width: 480px) {
	.cookie{
		max-width: 90vw;
		flex-direction: column;
		gap: 15px 0;
	}
}
.icon{
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-15%) translateY(-12%) rotate(60deg) scale(1.1);
	max-width: 100%;
	max-height: 100px;
	height: auto;
	width: auto;
	opacity: 0.05;
}
.text{
	color: rgba(0,0,0,0.6);
	font-size: 1rem;
}
.text a{
	text-decoration: none;
}
.button{
	cursor: pointer;
	padding: 15px 20px;
	color: #fff;
	font-size: 1rem;
	text-align: center;
	background-color: #1F477D;
	border: none;
	border-radius: 7px;
	transition: 0.2s ease-in-out background-color;
}
.button:hover{
	background-color: #245392;
}