.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	width: 100%;
	background-color: #ffffff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 7px 15px;
	display: grid;
	grid-template-columns: 4fr 25fr 4fr;
	z-index: 2;
}
.christmas {
	position: absolute;
	top: -25px;
	left: 0;
	right: 0;
	width: 100%;
	min-height: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-repeat: repeat-x;
	background-position: center;
	background-size: contain;
	background-image: url('/assets/Christmas/g2.gif');
	z-index: 1;
}
@media screen and (max-width: 768px) {
	.header {
		display: none;
	}
}
.content {
	display: flex;
	width: 100%;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}
@media screen and (min-width: 2000px) {
	.content {
		max-width: 1500px;
		margin: 0 auto;
	}
}
.content__row {
	display: flex;
	align-items: center;
}
.content__area {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0 40px;
}
.link_logo {
	text-decoration: none;
}
.logo {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 1rem;
	font-weight: 400;
}
.logo__beta {
	position: absolute;
	bottom: 80%;
	right: -17%;
	color: #fff;
	font-size: 0.6rem;
	padding: 3px 6px;
	border-radius: 7px;
	background-color: #1dc989;
}
.logo svg {
	margin-right: 10px;
}
.searchbar {
	margin-left: 35px;
}
.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0 20px;
}
.menu__row {
	display: flex;
	align-items: center;
}
.menu a {
	text-decoration: none;
}
.menu__item {
	cursor: pointer;
	list-style-type: none;
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 0.9rem;
}
.menu__item_active {
	color: #1dc989;
}
.menu__item svg {
	filter: grayscale(1);
}
.menu__item_active svg {
	filter: none;
}
.menu__item:hover {
	transition: 0.2s ease-in-out color;
	color: #1dc989;
}
.menu__item:hover svg {
	transition: 0.2s ease-in-out color;
	fill: #1dc989;
	filter: none;
}
.menu__upperline {
	height: 1.2rem;
	width: 1px;
	background-color: #000;
	border-radius: 1px;
	margin-right: 20px;
	opacity: 0.1;
}
.menu__icon {
	opacity: 0.2;
	margin-right: 10px;
}
.menu__icon:hover {
	transition: 0.2s ease-in-out opacity;
	opacity: 0.8;
}
