.search{
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 0px 10px;
	background-color: rgba(0,0,0,0.03);
	padding: 1px 10px;
	border-radius: 7px;
	width: 100%;
	border: 1px solid transparent;
	transition: 0.2s ease-in-out border;
}
.icon_clear{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	right: 15px;
}
.search svg{
	opacity: 0.3;
}
.search__input{
	outline: none;
	font-size: 0.8rem;
	border: none;
	width: 100%;
	color: rgba(0,0,0,0.5);
}
.search:hover{
	border: 1px solid rgba(29, 201, 137, 0.15);
}
.search:hover .search__input{
	transition: 0.2s ease-in-out color;
	color: rgba(0,0,0,0.7);
}
.search:hover svg{
	transition: 0.2s ease-in-out opacity;
	opacity: 0.5;
}
.search__hotkey{
	letter-spacing: -0.5px;
	display: flex;
	align-items: center;
	gap: 3px;
	font-size: 0.6rem;
	color: rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.2);
	padding: 3px 5px;
	border-radius: 7px;
	white-space: nowrap;
}
.search__hotkey:hover{
	transition: 0.2s ease-in-out color, 0.2s ease-in-out border;
	border: 1px solid #1DC989;
	color: #1DC989;
}
.search__hotkey aside{
	font-size: 0.7rem;
	opacity: 0.3;
}
.search__hotkey:hover aside{
	transition: 0.2s ease-in-out opacity;
	color: #1DC989;
	opacity: 1;
}