.history{
	flex: 1;
}
.history__empty{
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	text-align: center;
}
.history__empty svg{
	filter: brightness(0);
	opacity: 0.4;
}
.history__empty h4{
	color: #000;
	font-size: 1.3rem;
	font-weight: 500;
	margin-top: 15px;
	opacity: 0.9;
}
.history__empty p{
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: #000;
	margin-top: 10px;
	font-size: 0.9rem;
	opacity: 0.7;
}
.items{
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	max-height: 45vh;
}
.items::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 5px;
	background-color: #F5F5F5;
	margin-left: 5px;
}

.items::-webkit-scrollbar
{
	margin-left: 5px;
	width: 4px;
	background-color: #F5F5F5;
}

.items::-webkit-scrollbar-thumb
{
	margin-left: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: #b3b3b3;
}
.items__block{
	position: relative;
	display: flex;
	flex-direction: column;
}
.items__title{
	position: sticky;
	top: 0;
	font-size: 1rem;
	font-weight: 500;
	margin-right: 7px;
	color: #1DC989;
	padding-top: 15px;
	padding-bottom: 7px;
	background-color: #fff;
	width: 100%;
	z-index: 2;
}
.items__column{
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	gap: 15px 0;
}
.item__icon_time, .item__icon_book{
	margin-right: 20px;
}