.layout{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.area{
	margin-top: 25px;
	width: 50vw;
	padding: 0 4%;
}
.container{
	display: flex;
	flex-direction: column;
}
.langs{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 15px;
}
.section{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
.section__title{
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 15px;
}