.layout{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.container{
	display: flex;
	flex-direction: column;
}
.langs{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 15px;
}
@media screen and (max-width:768px) {
	.filler{
		display: none;
	}
}
@media screen and (max-width: 1024px) {
	.langs{
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media screen and (max-width: 500px) {
	.langs{
		grid-template-columns: 1fr 1fr;
	}
}
.section{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
.section__title{
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 15px;
}
@media screen and (max-width: 480px) {
	.section__title{
		font-size: 1.3rem;
	}
}
.section__title svg{
	margin-right: 10px;
}