.layout{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	min-height: 100vh;
}
.filler{
	display: none;
}
@media screen and (max-width:992px) {
	.filler{
		display: block;
		flex: 1;
	}
}
@media screen and (min-width: 2000px) {
	.layout{
		max-width: 2000px;
		margin: 0 auto;
	}
}