.layout{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.area{
	margin-top: 25px;
	width: 74%;
}
.container{
	display: flex;
	flex-direction: column;
}
.partition__info{
	margin-top: 50px;
}
.quizes{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 15px;
}
.section{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}
.section__row{
	display: flex;
	align-items: center;
	justify-content: space-between;
}