.layout{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.container{
	display: flex;
	flex-direction: column;
}
.news{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 25px 0;
}