.area{
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 0 10px;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 7px;
}
.area:hover{
	transition: 0.2s ease-in-out border;
	border: 1px solid rgba(0,0,0,0.2);
}
.icon{
	width: fit-content;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	aspect-ratio: 1;
	border-radius: 7px;
	background-color: #FAFBFF;
}
.area:hover .icon{
	transition: 0.2s ease-in-out background-color;
	background-color: #DBF3EA;
}
.area:hover .icon svg{
	transition: 0.2s ease-in-out fill;
	fill: #1DC989;
}
.content{
	display: flex;
	flex-direction: column;
}
.content__title{
	font-size: 1.2rem;
	font-weight: 500;
}
.content__description{
	margin-top: 5px;
	font-size: 0.9rem;
	opacity: 0.7;
	font-weight: 400;
}
@media screen and (max-width: 576px) {
	.content__title{
		font-size: 1.1rem;
	}
	.icon svg{
		width: 35px;
		height: 35px;
	}
}