.copy{
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 15px;
	margin-top: 15px;
	z-index: 2;
}
.icon{
	width: fit-content;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	background-color: #F6F8FA !important;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.1);
}
.icon svg{
	opacity: 0.6;
}
.icon:hover svg{
	transition: 0.2s ease-in-out opacity;
	opacity: 1;
}
.icon:hover{
	transition: 0.2s ease-in-out background-color;
	background-color: #FCFDFE !important;
}
.icon.nocopied svg{
	filter: brightness(0);
}
.icon.copied svg *{
	color: #1DC989 !important;
}
.icon.copied{
	transition: 0.2s ease-in-out background-color;
	background-color: #FCFDFE !important;
}
.icon.copied svg{
	opacity: 1;
}
.text{
	color: rgba(0,0,0,0.8);
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	right: 100%;
	margin: auto 0;
	background-color: #FCFDFE !important;
	font-size: 0.9rem;
	padding: 4px 10px;
	border-radius: 5px;
	box-shadow: none;
	transform: translateX(-12%);
}
.text.nocopied{
	transition: 0.2s ease-in-out transform, 0.2s ease-in-out opacity;
	transform: translateX(12%);
	pointer-events: none;
	opacity: 0;
	z-index: -1;
}
.text.copied{
	transition: 0.2s ease-in-out transform, 0.2s ease-in-out opacity;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
	transform: translateX(-12%);
	opacity: 1;
	z-index: 1;
}