.sidebar{
	position: fixed;
	right: 20vw;
	display: flex;
	flex-direction: column;
	top: 110px;
}
.block{
	display: flex;
	flex-direction: column;
}
.block__title{
	font-size: 1rem;
	margin-bottom: 15px;
}
.block__column{
	display: flex;
	flex-direction: column;
	gap: 15px 0;
}
.block__link{
	font-size: 0.9rem;
	color: #000;
	opacity: 0.4;
	text-decoration: none;
}
.block__link:hover{
	transition: 0.2s ease-in-out opacity;
	opacity: 0.7;
}
.block__link.active{
	transition: 0.2s ease-in-out opacity;
	opacity: 0.9;
}