.faq{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}
.faq__title{
	font-size: 2rem;
	color: #1DC989;
}
@media screen and (max-width: 480px) {
	.faq__title{
		font-size: 1.8rem;
	}
}
.faq__subtitle{
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 1.1rem;
	font-weight: 500;
}
.questions{
	display: flex;
	flex-direction: column;
	gap: 18px 0;
}