.layout{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.container{
	display: flex;
	flex-direction: column;
}
.blogs{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 25px 0;
}
@media screen and (max-width: 768px) {
	.filler{
		display: none;
	}
}
.paginator{
	margin-top: 20px;
	display: flex;
	align-items: center;
}
.arrow{
	cursor: pointer;
	opacity: 0.7;
}
.arrow.disabled{
	pointer-events: none;
	user-select: none;
	opacity: 0.2;
}
.page__current{
	font-size: 1rem;
	padding: 4px 10px;
	background-color: #1F477D;
	color: #fff;
	margin: 0 8px;
	border-radius: 5px;
}