.button{
	position: fixed;
	bottom: 5%;
	right: 8%;
	padding: 10px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: 1px 1px 10px rgba(0,0,0,0.03);
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: -1;
	opacity: 0;
	transform: translateY(20%);
	transition: 0.2s ease-in-out opacity, 0.2s ease-in-out transform;
}
@media screen and (min-width: 768px) {
	.button{
		right: 5%;
	}
}
.button.visible{
	z-index: 3;
	opacity: 1;
	transform: translateY(0);
}