.layout{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
	.area{
		grid-template-columns: 1.5fr 13fr 4fr;
	}
}
.container{
	display: flex;
	flex-direction: column;
}
.topics{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.partition__info{
	margin-top: 50px;
}
.quizes{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 15px;
}
@media screen and (max-width: 768px) {
	.quizes{
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 400px) {
	.quizes{
		grid-template-columns: 1fr;
	}
}
.section{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}
.section__row{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.section__title{
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 15px;
}
@media screen and (max-width: 480px) {
	.section__title{
		width: 100%;
		max-width: 60%;
	}
	.section__row{
		align-items: baseline;
	}
}
.section__title svg{
	margin-right: 10px;
}
.section__details{
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: 500;
	opacity: 0.6;
	text-decoration: none;
}
.section__details:hover{
	transition: 0.2s ease-in-out opacity;
	opacity: 0.8;
}