.layout{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.container{
	display: flex;
	flex-direction: column;
}
.partition__info{
	margin-top: 50px;
}
@media screen and (max-width: 768px) {
	.filler{
		display: none;
	}
}